*/env
*/cred.json
/.idea
/_test/
env
*.spec
/coverter/coverter/
/coverter/images/
/Network/scans/
/downloader/downloads/
/coverter/dist/scans/
/Network/config/
/ping_tools/graphs/
/ping_tools/API_HUB/graphs/
/py2exe/build/
