*/env
*/cred.json
/.idea
/_test/
env
*.spec
/coverter/coverter/
/coverter/coverter/*.spec
/coverter/images/
/Network/scans/
/coverter/build/
/downloader/downloads/
/coverter/dist/scans/
/Network/config/
/ping_tools/graphs/
